.form-section{
    margin-top: 1.5rem;
    padding: 0 0 1.25rem 0;
    width: 30rem;
}

.form input{
    border: none;
    border-bottom: 2px solid #a2a0a0;
    outline: none;
}


.form-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.625rem;
}

.form input:focus{
    border-bottom-color: #ff2058;
}

.actions{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.form div button{
    margin-top: 0.625rem;
    color: white;
    background-color: #ff2058;
    border: none;
    padding: 0.625rem 2rem;
    border-radius: 4px;
    margin-right: 200px;
}